<a href="https://colab.research.google.com/github/kalyanimane/data-science-assignments/blob/main/EDA2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_=pd.read_csv("/content/adult_with_headers.csv")

In [3]:
df_

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
# step 1

In [5]:
summary_stats = df_.describe(include='all')
missing_values = df_.isnull().sum()
data_types = df_.dtypes

summary_stats, missing_values, data_types

(                 age workclass        fnlwgt education  education_num  \
 count   32561.000000     32561  3.256100e+04     32561   32561.000000
 unique           NaN         9           NaN        16            NaN
 top              NaN   Private           NaN   HS-grad            NaN
 freq             NaN     22696           NaN     10501            NaN
 mean       38.581647       NaN  1.897784e+05       NaN      10.080679
 std        13.640433       NaN  1.055500e+05       NaN       2.572720
 min        17.000000       NaN  1.228500e+04       NaN       1.000000
 25%        28.000000       NaN  1.178270e+05       NaN       9.000000
 50%        37.000000       NaN  1.783560e+05       NaN      10.000000
 75%        48.000000       NaN  2.370510e+05       NaN      12.000000
 max        90.000000       NaN  1.484705e+06       NaN      16.000000

              marital_status       occupation relationship    race    sex  \
 count                 32561            32561        32561   32561  32561
 unique                    7               15            6       5      2
 top      Married-civ-spouse   Prof-specialty      Husband   White   Male
 freq                  14976             4140        13193   27816  21790
 mean                    NaN              NaN          NaN     NaN    NaN
 std                     NaN              NaN          NaN     NaN    NaN
 min                     NaN              NaN          NaN     NaN    NaN
 25%                     NaN              NaN          NaN     NaN    NaN
 50%                     NaN              NaN          NaN     NaN    NaN
 75%                     NaN              NaN          NaN     NaN    NaN
 max                     NaN              NaN          NaN     NaN    NaN

         capital_gain  capital_loss  hours_per_week  native_country  income
 count   32561.000000  32561.000000    32561.000000           32561   32561
 unique           NaN           NaN             NaN              42       2
 top              NaN           NaN             NaN   United-States   <=50K
 freq             NaN           NaN             NaN           29170   24720
 mean     1077.648844     87.303830       40.437456             NaN     NaN
 std      7385.292085    402.960219       12.347429             NaN     NaN
 min         0.000000      0.000000        1.000000             NaN     NaN
 25%         0.000000      0.000000       40.000000             NaN     NaN
 50%         0.000000      0.000000       40.000000             NaN     NaN
 75%         0.000000      0.000000       45.000000             NaN     NaN
 max     99999.000000   4356.000000       99.000000             NaN     NaN  ,
 age               0
 workclass         0
 fnlwgt            0
 education         0
 education_num     0
 marital_status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital_gain      0
 capital_loss      0
 hours_per_week    0
 native_country    0
 income            0
 dtype: int64,
 age                int64
 workclass         object
 fnlwgt             int64
 education         object
 education_num      int64
 marital_status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital_gain       int64
 capital_loss       int64
 hours_per_week     int64
 native_country    object
 income            object
 dtype: object)

In [6]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Selecting numerical features
numerical_features = df_.select_dtypes(include=['int64']).columns

# Apply Standard Scaling
scaler_standard = StandardScaler()
standard_scaled = scaler_standard.fit_transform(df_[numerical_features])

# Apply Min-Max Scaling
scaler_minmax = MinMaxScaler()
minmax_scaled = scaler_minmax.fit_transform(df_[numerical_features])

# Converting scaled data back to DataFrame for easier interpretation
df_standard_scaled = pd.DataFrame(standard_scaled, columns=numerical_features)
df_minmax_scaled = pd.DataFrame(minmax_scaled, columns=numerical_features)

# Displaying the first few rows of each scaled DataFrame
df_standard_scaled.head(), df_minmax_scaled.head()

(        age    fnlwgt  education_num  capital_gain  capital_loss  \
 0  0.030671 -1.063611       1.134739      0.148453      -0.21666
 1  0.837109 -1.008707       1.134739     -0.145920      -0.21666
 2 -0.042642  0.245079      -0.420060     -0.145920      -0.21666
 3  1.057047  0.425801      -1.197459     -0.145920      -0.21666
 4 -0.775768  1.408176       1.134739     -0.145920      -0.21666

    hours_per_week
 0       -0.035429
 1       -2.222153
 2       -0.035429
 3       -0.035429
 4       -0.035429  ,
         age    fnlwgt  education_num  capital_gain  capital_loss  \
 0  0.301370  0.044302       0.800000       0.02174           0.0
 1  0.452055  0.048238       0.800000       0.00000           0.0
 2  0.287671  0.138113       0.533333       0.00000           0.0
 3  0.493151  0.151068       0.400000       0.00000           0.0
 4  0.150685  0.221488       0.800000       0.00000           0.0

    hours_per_week
 0        0.397959
 1        0.122449
 2        0.397959
 3        0.397959
 4        0.397959  )

In [ ]:
# Step 2

In [7]:
 #Identify categorical features
categorical_features = df_.select_dtypes(include=['object']).columns

# Count unique values in each categorical feature
unique_counts = df_[categorical_features].nunique()

# Separate categorical features based on the number of unique values
one_hot_features = unique_counts[unique_counts <= 5].index
label_encoding_features = unique_counts[unique_counts > 5].index

unique_counts, one_hot_features, label_encoding_features

(workclass          9
 education         16
 marital_status     7
 occupation        15
 relationship       6
 race               5
 sex                2
 native_country    42
 income             2
 dtype: int64,
 Index(['race', 'sex', 'income'], dtype='object'),
 Index(['workclass', 'education', 'marital_status', 'occupation',
        'relationship', 'native_country'],
       dtype='object'))

In [31]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Initialize encoders
one_hot_encoder = OneHotEncoder(sparse_output=False, drop='first')  # Drop first to avoid dummy variable trap
label_encoder = LabelEncoder()
# Apply One-Hot Encoding
one_hot_encoded = pd.DataFrame(one_hot_encoder.fit_transform(df_[one_hot_features]),
                               columns=one_hot_encoder.get_feature_names_out(one_hot_features))

# Apply Label Encoding
label_encoded_df = df_[label_encoding_features].apply(label_encoder.fit_transform)

# Combine encoded data with the original DataFrame (dropping original encoded columns)
df_encoded = pd.concat([df_.drop(columns=one_hot_features.tolist() + label_encoding_features.tolist()),
                        one_hot_encoded, label_encoded_df], axis=1)

# Display the first few rows of the encoded DataFrame
df_encoded.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,age_bucket,hours_per_week_bucket,capital_gain_log,outlier,...,race_ Other,race_ White,sex_ Male,income_ >50K,workclass,education,marital_status,occupation,relationship,native_country
0,39,77516,13,2174,0,40,35-45,20-40,7.684784,1,...,0.0,1.0,1.0,0.0,7,9,4,1,1,39
1,50,83311,13,0,0,13,45-55,<20,0.000000,1,...,0.0,1.0,1.0,0.0,6,9,2,4,0,39
2,38,215646,9,0,0,40,35-45,20-40,0.000000,1,...,0.0,1.0,1.0,0.0,4,11,0,6,1,39
3,53,234721,7,0,0,40,45-55,20-40,0.000000,1,...,0.0,0.0,1.0,0.0,4,1,2,6,0,39
4,28,338409,13,0,0,40,25-35,20-40,0.000000,1,...,0.0,0.0,0.0,0.0,4,9,2,10,5,5

In [ ]:
# Step 3

In [26]:
# Create new features based on the instructions

# Feature 1: Age Bucket
df_['age_bucket'] = pd.cut(df_['age'], bins=[0, 25, 35, 45, 55, 65, 100], labels=['<25', '25-35', '35-45', '45-55', '55-65', '>65'])

# Feature 2: Hours per Week Bucket
df_['hours_per_week_bucket'] = pd.cut(df_['hours_per_week'], bins=[0, 20, 40, 60, 80, 100], labels=['<20', '20-40', '40-60', '60-80', '>80'])

# Apply a log transformation to a skewed numerical feature (capital-gain)
df_['capital_gain_log'] = df_['capital_gain'].apply(lambda x: np.log(x + 1))  # Add 1 to avoid log(0)

# Isolation Forest to detect and remove outliers
iso_forest = IsolationForest(contamination=0.05, random_state=42)
df_['outlier'] = iso_forest.fit_predict(df_.select_dtypes(include=[np.number]))

# Remove outliers (keeping only inliers)
df_no_outliers = df_[df_['outlier'] == 1].drop(columns=['outlier'])

# Correlation matrix for alternative analysis
correlation_matrix = df_no_outliers.corr(numeric_only=True)

# Display the newly created features, transformed data, and correlation matrix
df_[['age', 'age_bucket', 'hours_per_week', 'hours_per_week_bucket', 'capital_gain', 'capital_gain_log']].head(), correlation_matrix

(   age age_bucket  hours_per_week hours_per_week_bucket  capital_gain  \
 0   39      35-45              40                 20-40          2174
 1   50      45-55              13                   <20             0
 2   38      35-45              40                 20-40             0
 3   53      45-55              40                 20-40             0
 4   28      25-35              40                 20-40             0

    capital_gain_log
 0          7.684784
 1          0.000000
 2          0.000000
 3          0.000000
 4          0.000000  ,
                        age    fnlwgt  education_num  capital_gain  \
 age               1.000000 -0.081099       0.026827      0.057491
 fnlwgt           -0.081099  1.000000      -0.041959     -0.017768
 education_num     0.026827 -0.041959       1.000000      0.088652
 capital_gain      0.057491 -0.017768       0.088652      1.000000
 capital_loss      0.020252 -0.022652       0.051229     -0.038418
 hours_per_week    0.082674 -0.017491       0.131790      0.050804
 capital_gain_log  0.050020 -0.020012       0.073211      0.903372

                   capital_loss  hours_per_week  capital_gain_log
 age                   0.020252        0.082674          0.050020
 fnlwgt               -0.022652       -0.017491         -0.020012
 education_num         0.051229        0.131790          0.073211
 capital_gain         -0.038418        0.050804          0.903372
 capital_loss          1.000000        0.020507         -0.043956
 hours_per_week        0.020507        1.000000          0.045568
 capital_gain_log     -0.043956        0.045568          1.000000  )

In [22]:
 #Inspect the columns to identify the correct names
df_.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income', 'age_bucket', 'hours_per_week_bucket', 'capital_gain_log',
       'outlier'],
      dtype='object')

In [ ]:
#step 4

In [23]:
from sklearn.ensemble import IsolationForest

iso_forest = IsolationForest(contamination=0.05, random_state=42)
df_['outlier'] = iso_forest.fit_predict(df_.select_dtypes(include=[np.number]))

# Remove outliers
df_no_outliers = df_[df_['outlier'] == 1].drop(columns=['outlier'])

In [25]:
correlation_matrix = df_no_outliers.corr(numeric_only=True)
print(correlation_matrix)

                       age    fnlwgt  education_num  capital_gain  \
age               1.000000 -0.081099       0.026827      0.057491
fnlwgt           -0.081099  1.000000      -0.041959     -0.017768
education_num     0.026827 -0.041959       1.000000      0.088652
capital_gain      0.057491 -0.017768       0.088652      1.000000
capital_loss      0.020252 -0.022652       0.051229     -0.038418
hours_per_week    0.082674 -0.017491       0.131790      0.050804
capital_gain_log  0.050020 -0.020012       0.073211      0.903372

                  capital_loss  hours_per_week  capital_gain_log
age                   0.020252        0.082674          0.050020
fnlwgt               -0.022652       -0.017491         -0.020012
education_num         0.051229        0.131790          0.073211
capital_gain         -0.038418        0.050804          0.903372
capital_loss          1.000000        0.020507         -0.043956
hours_per_week        0.020507        1.000000          0.045568
capital_gain_log     -0.043956        0.045568          1.000000

In [1]:
pip install ppscore

Requirement already satisfied: ppscore in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2024.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)